<div class="app-page app-fluid">
    <div class="app-page__layout">
        <article class="app-post">
            <h1 class="app-post__title">{{ page.title }}</h1>
            {% if page.date %}
                <time class="app-post__date">{% include dateformat value=page.date %}</time>
            {% endif %}
            {% include block/share.liquid %}
            {% if page.image.path %}
                {%- assign image = page.image.path | replace: 'i.imgur.com' , 'im.ksv.app/imgur' | append: '?w=768' -%}
                <figure class="image"><img alt="{{ post.title }}" src="{{ image }}"></figure>
            {% endif %}
            {{ content }}
            {% if page.source %}
                <div class="app-post__source">
                    {% include i18n id="Source" %} —
                    <a href="{{ page.source.url }}">{{ page.source.name }}</a>
                </div>
            {% endif %}
            {% if page.author %}
                <div class="app-post__author">
                    {% include i18n id="Author" %} —
                    <a href="{{ page.author.url }}">{{ page.author.name }}</a>
                </div>
            {% endif %}
        </article>

        {% assign posts = site.posts | where_exp:'item', 'item.lang == page.lang' %}
        {% assign posts = posts | where_exp:'item', 'item.url != page.url' %}
        {% assign posts = posts | sort: 'date' | sample:5 %}

        <div class="app-recent">
            {% for post in posts %}
                {% include block/item.liquid %}
            {% endfor %}
        </div>

    </div>
</div>
