{%- assign summary = post.description | defalts: post.excerpt | defaults: post.description | strip_html | truncate: 150, " ... " -%}
{%- assign url = post.url | absolute_url -%}
{%- assign title = post.title -%}
{%- assign image = post.image.path | defaults: post.image | prepend: 'https://images.weserv.nl/?fit=cover&w=1000&h=600&url=' -%}
<article class="app-entry">
    <div class="app-entry__cover">
        <div class="app-entry__image" data-cover="{{ image }}"></div>
    </div>
    <div class="app-entry__content">
        <h3 class="app-entry__title">{{ post.title }}</h3>
        <time class="app-entry__date">{% include dateformat value=post.date %}</time>
        <p class="app-entry__summary app-entry__fluid">{{ summary }}</p>
    </div>
    <a class="app-entry__link" aria-label="{{ post.title }}" href="{{ url }}"></a>
</article>

