{%- assign summary = post.description | defalts: post.excerpt | defaults: post.description | strip_html | truncate: 180, " ... " -%}
{%- assign url = post.url | absolute_url -%}
{%- assign title = post.title -%}
{%- assign image = post.image.path | defaults: post.image -%}
{%- assign image = image | replace: 'i.imgur.com' , 'worker.romasheva.com/imgur' -%}
{%- assign image = image | append: '?w=800&h=480' -%}
<article class="app-entry" itemscope="itemscope" itemtype="blogPost" itemtype="https://schema.org/BlogPosting">
    <meta content="{{ image }}" itemprop="image_url">
    <div class="app-entry__cover">
        <div class="app-entry__image" data-cover="{{ image }}"></div>
    </div>
    <div class="app-entry__content">
        <h3 class="app-entry__title" itemprop="name"><a class="app-entry__url" href="{{ url }}">{{ post.title }}</a></h3>
        <time class="app-entry__date" itemprop="datePublished" datetime="{{ post.date }}">{% include dateformat value=post.date %}</time>
        <p class="app-entry__summary" itemprop="articleBody">{{ summary }}</p>
    </div>
    <a class="app-entry__link" aria-label="{{ post.title }}" href="{{ url }}"></a>
</article>
