<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=5,initial-scale=1">
<title>{{ page.title }}</title>
{% seo title=false %}
{%- if page.alternate %}
{%- for item in page.alternate %}
<link rel="alternate" href="{{ item[1] | absolute_url  }}" hreflang="{{ item[0] }}">
{%- endfor %}
{%- endif %}
{%- if page.path contains '_posts' %}
    {%- if page.lang == 'uk' %}
        {%- assign alternativeUrl = page.url | replace_first: 'uk', 'en' | absolute_url  -%}
        <link rel="alternate" href="{{ alternativeUrl  }}" hreflang="en">
    {%- else %}
        {%- assign alternativeUrl = page.url | replace_first: 'en', 'uk' | absolute_url  -%}
        <link rel="alternate" href="{{ alternativeUrl  }}" hreflang="uk">
    {%- endif %}
{%- endif %}
{% include carcass/favicon.liquid %}
