---
title: Terms of use
permalink: en/terms.html
sitemap: false
layout: post
---

<p>These rules apply to all sites that are part of a media holding company. In particular:</p>
<ul>
    <li>{{ site.title }} ({{ site.url}})</li>
</ul>
<h4>1. General rules and definitions</h4>
<p>1.1. If you choose to use the above sites and their applications, including RSS, APIs, software and other
    files, you agree to be bound by all the terms and conditions set out in these Terms of Use (hereinafter
    - the Rules).</p>
<p>1.2. We may change, add or remove portions of these Terms of Service at any time, and such changes take
    effect immediately upon publication. Your obligation to review these Terms and Conditions prior to each
    use of the Site and by continuing to use this Site, you agree to any changes.</p>
<p>1.3. If any provision of this Policy or any future changes are not acceptable to you, you may terminate
    your membership by emailing: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    (see section 9 for termination of access to the site). Your continued use of the Site, either
    immediately or after you post notice of any changes to these policies, will indicate your acceptance of
    these policies, including any changes thereto.</p>
<p>1.4. We may change, suspend or terminate your access to the Website at any time, including the
    availability of any information, database, or content. We may also impose restrictions on certain
    features or restrict your access to some or all of the Site without notice or liability.</p>
<h4>2. Content of the site</h4>
<p>2.1. The materials posted on the site are for your personal non-commercial use only. All material
    published on the site is copyrighted and owned or controlled by the Company or the party that is the
    content provider. You must comply with any additional copyright notice, information or restrictions
    contained on any page.</p>
<p>2.2. The content of the site is copyrighted in accordance with the laws of Ukraine and international
    copyright. You may not modify, publish, transmit, participate in the transfer or sale, reproduce (except
    as provided in clauses 2.3, 2.4 and 2.5 of these Terms of Service), create new works, distribute,
    perform, or in any way use the content of the site (including software) in whole or in part.</p>
<p>2.3. You may download or copy the content of the site, other components and elements displayed on the
    site for personal use only, provided all copyrights and other content contained therein are
    respected.</p>
<p>2.4. Online publications are allowed to use the information posted on the Company's websites free of
    charge, provided the hyperlink is open and the original source is mentioned below the first paragraph.
    For print publications, reprinting of Company materials is permitted on a fee basis and only with the
    written consent of the editor. For mobile applications and SmartTV, the use of materials is allowed on a
    fee basis and only with the written consent of the Company. The media posted on the Company's websites
    may be used provided the source is cited. Use of information means any reproduction, publication,
    distribution, reproduction, translation, incorporation of parts of it into other works, and other
    means,</p>
<p>2.5. Use of Company materials posted on the uazmi portal through their complete or partial
    reproduction by news aggregators is only permitted with the written permission of the Company. "News
    Aggregators" means any software, application, service or web resource that, through RSS feeds or
    otherwise, collects content of information resources and partially or completely reproduces them to
    users in the form of blocks, streams, "feeds" »News, etc. The Company grants written permission to use
    the materials at its discretion to the owner of the news aggregator on the basis of his address, sent in
    electronic form to the support@luxnet.ua. The Company reserves the right to request from the owner of
    the news aggregator any additional information necessary to make a decision to issue a written
    authorization during the review process. Use of the Company's materials is possible only after obtaining
    the relevant written permission, which can be sent to the mail address of the owner of the news
    aggregator or electronically to his e-mail address. The written permission may be extended to a separate
    material (s) or to all current and future materials on the resources of the uazmi portal, and is
    valid for the period specified therein. Use of the Company's materials is possible only after obtaining
    the relevant written permission, which can be sent to the mail address of the owner of the news
    aggregator or electronically to his e-mail address. The written permission may be extended to a separate
    material (s) or to all current and future materials on the resources of the uazmi portal, and is
    valid for the period specified therein. Use of the Company's materials is possible only after obtaining
    the relevant written permission, which can be sent to the mail address of the owner of the news
    aggregator or electronically to his e-mail address. The written permission may be extended to a separate
    material (s) or to all current and future materials on the resources of the uazmi portal, and is
    valid for the period specified therein.</p>
<h4>3. User Content: Comments, Reviews, and more. </h4>
<p>3.1. You may not download, distribute or publish content of any defamatory, abusive, obscene,
    pornographic, repetitive (spam) or other illegal material.</p>
<p>3.2. The materials of the site should be used only in non-commercial form. You may not, without the
    Company's specific approval, distribute or cover any content, advertising, etc.</p>
<p>3.3. You acknowledge that any material you distribute (such as user-generated content, including but not
    limited to: comments, forums, posts, reviews, text, videos, audio and photos, and computer code and
    applications) may be removed or modified by the Company. You waive any rights you may have in the
    presence of such material on the site, and the change of materials may be made even if you do not agree.
    The materials can also be included in our RSS feeds, APIs, and available for re-release through other
    formats.</p>
<p>3.4. You grant to the Company, a perpetual, non-exclusive, worldwide, royalty-free, royalty-free license
    to the materials you place, including any unlimited right of the Company or any third party to use,
    copy, transmit, publish, distribute, create derivative works of, modify and adapt index, cache, tags,
    encode (including without limitation the right to adapt to streaming, transmission, mobile, digital
    scanning or other technology) in any form or media known now or under further developed, including any
    publications posted by you on the site.</p>
<p>3.5. You are solely responsible for the content of your publications. The Company does not and cannot
    control all material and is not responsible for the content of these messages, the Company reserves the
    right to delete, move or edit Publications that the Company, in its sole discretion, deems offensive,
    defamatory, indecent, copyright and trademark infringement characters, or inappropriate.</p>
<p>3.6. You consent to the display and publication on the site of the material developed by you, as well as
    for offline advertising purposes.</p>
<h4>4. Access and availability of services</h4>
<p>4.1. The material may contain links to other World Wide Web sites, resources, and advertisers. As we are
    not responsible for the availability of these external resources or their content, you should direct any
    concerns about any external link to the site administrator.</p>
<h4>5. Statements and warranties</h4>
<p>5.1. You represent, warrant and promise:</p>
<ul>
    <li>materials of any kind submitted through your account:
        <ul>
            <li>not violate, plagiarize or infringe upon the rights of third parties, including copyrights,
                trademarks, privacy or other personal or property rights;
            </li>
            <li>contain slander or other illegal material;</li>
        </ul>
    </li>
    <li> You are at least thirteen years old.</li>
</ul>
<p>5.2. The Company does not guarantee or endorse the accuracy or reliability of any advice, opinions,
    statements or other downloaded or disseminated information through the accounts of any users,
    information providers or any other natural or legal persons. You acknowledge and acknowledge that
    reliance on such opinions, advice, statements, memoranda or other information should be at your own
    risk. The Site Materials are distributed "AS IS" without any warranties, including warranties of
    ownership or fitness for a particular purpose. You hereby acknowledge that the use of the service is at
    your own risk.</p>
<h4>6. Registration and security</h4>
<p>6.1. As part of the process of signing up or creating an account, you will create login credentials by
    selecting a password and providing an email address. You also need to provide us with some information
    about yourself that needs to be accurate and up-to-date.</p>
<p>Each registration is for one user. You cannot share your login credentials so that no one else has access
    to your account. We may cancel or suspend your access to the site if you share your login credentials.
    You are responsible for maintaining the confidentiality of a password that you will not need to open to
    any representative of the Company. You cannot:</p>
<ul>
    <li>choose or use another person's credentials for the purpose of impersonating that person;
    </li>
    <li>use the account information without the right of the owner;</li>
    <li>use the credentials at your own discretion if they are or are considered offensive.</li>
</ul>
<p>Failure to comply with the above provisions is considered a violation of the Terms which may result in
    the immediate termination of your account.</p>
<p>6.2. Please notify <a href="mailto:contacts@uazmi.org">contacts@uazmi.org</a> of any known or suspected
    unauthorized use of your account, or of any known or suspected breach of security, including the loss,
    theft or unauthorized disclosure of your password.</p>
<p>6.3. You must be 13 years old to subscribe to all types of site services.</p>
<p>6.4. You are responsible for any use or activity on your site account, including for third party use of
    your account with your permission. Any fraudulent, abusive or other illegal activity may be a reason to
    terminate your account at our discretion, and we may send the information to the appropriate law
    enforcement agencies.</p>
<h4>7. Communication between the Company and users</h4>
<p>7.1. If you fill out the registration form to obtain certain information, we, as owners and successors,
    with the permission of certain third-party vendors, will provide you with information about the
    materials published on the sites.</p>
<p>7.2. You provide and the Company reserves the right to send to your e-mail information about changes or
    additions to the service on the sites.</p>
<p>7.3. The Company reserves the right to disclose usage and demographics provided that it does not disclose
    your identity. Advertisers on our websites may only collect and disseminate personal information about
    you if you confirm your agreement. Please see our privacy policy for more information.</p>
<p>7.4. The company can contact you via email about your participation in a user survey asking questions to
    improve current or prospective content. This information will be used to improve the performance of the
    sites and to better understand our users. Any information we receive in such surveys will not be shared
    with third parties except in a generalized form without disclosing your identity.</p>
<h4>8. Licenses and Software</h4>
<p>8.1. You have no right to proprietary software and supporting documentation, or to any improvements or
    modifications thereto (the "Software") unless you have access to the Site. You may not sublicense,
    assign, or transfer any licenses granted by the Site, and any attempt to sublicense, misappropriate or
    transfer is considered invalid and unlawful. You may not copy, distribute, modify, modify, or create
    derivative works of the Software.</p>
<h4>9. Termination of access to the site</h4>
<p>9.1. You can terminate your account at any time by contacting <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    . Upon completion, you will receive an automatic email confirmation that your account removal request
    has been accepted and your access will be terminated within 24 hours.</p>
<p>9.2.The Company may, at its sole discretion, remove or suspend access to all or part of the Site for any
    reason, including, violation or non-compliance with these Rules.</p>
<h4>10. Different</h4>
<p>10.1. These Rules have been introduced and must be interpreted and applied in accordance with the laws of
    Ukraine. Any disputes regarding the implementation of these Rules will be settled by the appropriate
    court located in the territory of Ukraine.</p>
<p>10.2. Notwithstanding any provision of the foregoing, nothing in these Rules may be used to interpret the
    provisions set forth in the Privacy Policy.</p>
<p>10.3. Correspondence should be <a href="mailto:{{ site.email }}">contacted</a> at <a
            href="mailto:{{ site.email }}">{{ site.email }}</a> .
</p>
<p>10.4. You agree to immediately report any copyright infringement of the Company's site materials. If you
    have any claims of copyright infringement for material contained on the Company's sites, please let us
    know at <a href="mailto:{{ site.email }}">{{ site.email }}</a> .
</p>
